/* css barcode */
/* by rexfeng 2012 */

.upc-a {
    margin: 0 30px 0 30px; /* quiet zones on left & right (10px *3) */
    position: relative;
}

.upc-wrap {
    width: 285px; /* 95 *3 */
   /* height: 186px; /* 62 *3 */ 
}

.m {
    /* module 1px *3 width */
    width: 3px;
    height: 179px; /* 186 / 244 * 235 = 179px */
    display: inline-block;
    vertical-align: top;
}

.long {
    height: 186px;
}

.o {
    background-color: #fff;
}

.e {
    background-color: #000;
}

.l {
    display: inline-block;
}

.r {
    display: inline-block;
}

.r .o.m {
    background-color: #000;
}

.r .e.m {
    background-color: #fff;
}

.l1, .l2, .l3, .l4, .l5, .l6 {
    display: inline-block;
}

.r1, .r2, .r3, .r4, .r5, .r6 {
    display: inline-block;
}

.digits {
    font-family: monospace, Courier, sans-serif;
    font-size: 2em;
    display: inline;
    position: relative;
    top: -10px;
    letter-spacing: 3px;
}

.l-digits {
    margin-left: 30px;
}

.r-digits {
    margin-left: 40px;
}

.number-system {
    position: absolute;
    top: 183px;
    left: -21px;
    font-size: 1.5em;
}

.check-digit {
    position: absolute;
    top: 183px;
    left: 292px;
    font-size: 1.5em;
}

.red-strike {
    width: 285px;
    height: 4px;
    background-color: red;
    position: absolute;
    margin: 92px 0 0 0;
    display: none;
}