/* Add here all your CSS customizations */
header.page-header.page-header-left-inline-breadcrumb {
	background: #f5f5f8;  !important;
	padding-bottom: 12px;  !important;
}

ul.g-info li{
	clear: both;

}
ul.g-info li label {
	display: block;
	float: left;
	width: 100px;
}
ul.g-info li span {
	float: left;
	display: block;
	padding: 0 4px;
}
ul.g-info li select{
	width: 150px;
}
ul.g-info li input{
	width: 120px;
}


ul.c-info li {
	clear: both;
}
ul.c-info li label {
	display: block;
	float: left;
	width: 100px;
}
ul.c-info li span {
	float: left;
	display: block;
	padding: 0 4px;
}
select.selectperson option{
	font-size: 14px !important;
}
span.multiselect-selected-text{
	font-size: 14px !important;
	
}
span.multiselect-group.dropdown-item-text{
	font-size: 14px !important;
}
.form-check-label{
	font-size: 14px !important;
}