<html>
	<head>
		<title>SangJa Admin - Invoice Mobile Print</title>
		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,600,700,800,900" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css" />

		<!-- Invoice Print Style -->
		<link rel="stylesheet" href="css/invoice-mobile-print.css" />
	</head>
	<body>
										
		<div class="invoice">
			<header class="clearfix">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h2 class="mt-0 mb-1 text-dark"><strong>INVOICE</strong></h2>
					</div>
					<div class="col-sm-12 text-end">
						<h6 class="m-0 text-dark"><strong>DATE 11-05-21</strong></h6>
					</div>
					<div class="col-sm-12 text-end">
						<h6 class="m-0 text-dark"><strong>INVOICE #100001</strong></h6>
					</div>
					<div class="col-sm-12 text-center mt-3 mb-3">
						<address class="ib me-5">
							TX EAGLE SUPPLY
							<br/>
							2051 W WALNUT HILL LN
							<br/>
							IRVING, TX 75038
							<br/>
							972-600-8443
						</address>
					</div>
				</div>
			</header>

		   <div class="row">
			   <div class="row show-grid">
					<div class="col-4">
						CUSTOMER
					</div>
					<div class="col-8">
						SHELL
					</div>
			   </div>						
			   <div class="row show-grid">
					<div class="col-4">
						ADDRESS
					</div>
					<div class="col-8">
						<address class="ib">
							8390 N Stemmons Pkwy
							<br/>
							Dallas, TX 75247
						</address>
					</div>
			   </div>						
			</div>

			<table class="table table-responsive-md invoice-items">
				<thead>
					<tr class="text-dark">
						<th id="upc-code"     class="text-center font-weight-semibold">UPC CODE</th>
						<th id="item"   class="text-center font-weight-semibold">Item</th>
						<th id="qty"    class="text-center font-weight-semibold">QTY</th>
						<th id="price"  class="text-center font-weight-semibold">PRICE</th>
						<th id="amount"  class="text-center font-weight-semibold">AMOUNT</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>144030041357</td>
						<td>USB CABLE LIGHTNING 3Ft</td>
						<td class="text-end">1</td>
						<td><span>$</span><span class="text-end">15.00</span></td>
						<td><span>$</span><span class="text-end">15.00</span></td>
					</tr>
					<tr>
						<td>144030041355</td>
						<td>USB CABLE ANDRCID 3Ft</td>
						<td class="text-end">1</td>
						<td><span>$</span><span class="text-end">3.50</span></td>
						<td><span>$</span><span class="text-end">3.50</span></td>
					</tr>
					<tr class="h4">
						<td colspan="4">Total</td>
						<td colspan="2">$18.50</td>
					</tr>
				</tbody>
			</table>

		</div>

		<script>
			window.print();
		</script>
	</body>
</html>