<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sangja.mappers.menu">
	<!-- 게시물 목록 -->
	<select id="list" resultType="com.sangja.domain.MenuVO">
		select menu_num,
		menu_nm,
		editor,
		crt_ymdt,
		mod_ymdt
		from tbl_menu
	</select>

	<!-- 게시물 작성 -->
	<insert id="write" parameterType="com.sangja.domain.MenuVO">
		insert into
		tbl_menu(menu_nm,
		editor,
		crt_ymdt,
		mod_ymdt)
		values(#{menu_nm}, #{editor},
		#{crt_ymdt},#{mod_ymdt})
	</insert>

	<!-- 게시물 조회 -->
	<select id="view" parameterType="int"
		resultType="com.sangja.domain.MenuVO">
		select
		menu_num,
		menu_nm,
		editor,
		crt_ymdt,
		mod_ymdt
		from
		tbl_menu
		where
		menu_num = #{menu_num}
	</select>

	<!-- 게시물 수정 -->
	<update id="modify" parameterType="com.sangja.domain.MenuVO">
		update tbl_menu
		set
		menu_nm =
		#{menu_nm},
		editor = #{editor},
		crt_ymdt = #{crt_ymdt},
		mod_ymdt =
		#{mod_ymdt}
		where menu_num = #{menu_num}
	</update>

	<!-- 게시물 삭제 -->
	<delete id="delete" parameterType="int">
		delete
		from tbl_menu
		where
		menu_num
		=
		#{menu_num}
	</delete>

	<!-- 게시물 총 갯수 -->
	<select id="count" resultType="int">
		select count(bno) from tbl_menu
	</select>
	<!-- 게시물 목록 + 페이징 -->
	<select id="listPage" parameterType="hashMap"
		resultType="com.sangja.domain.MenuVO">
		select
		menu_num,
		menu_nm,
		editor,
		crt_ymdt,
		mod_ymdt
		from tbl_menu
		order by menu_num desc
		limit #{displayPost}, #{postNum}
	</select>
	<!-- 게시물 목록 + 페이징 +검색 -->
	<select id="listPageSearch" parameterType="hashMap"
		resultType="com.sangja.domain.MenuVO">
		select
		menu_num,
		menu_nm,
		editor,
		crt_ymdt,
		mod_ymdt
		from tbl_menu

		<if test='searchType.equals("title")'>
			WHERE title LIKE concat('%', #{keyword}, '%')
		</if>

		<if test='searchType.equals("content")'>
			WHERE content LIKE concat('%', #{keyword}, '%')
		</if>

		<if test='searchType.equals("title_content")'>
			WHERE title LIKE concat('%', #{keyword}, '%')
			or content
			LIKE concat('%', #{keyword}, '%')
		</if>

		<if test='searchType.equals("writer")'>
			WHERE writer LIKE concat('%', #{keyword}, '%')
		</if>
		order by bno desc
		limit #{displayPost}, #{postNum}
	</select>

	<!-- 게시물 총 갯수 -->
	<select id="searchCount" parameterType="hashMap"
		resultType="int">
		select count(manu_num) from tbl_menu
		<if test='searchType.equals("title")'>
			WHERE title LIKE concat('%', #{keyword}, '%')
		</if>

		<if test='searchType.equals("content")'>
			WHERE content LIKE concat('%', #{keyword}, '%')
		</if>

		<if test='searchType.equals("title_content")'>
			WHERE title LIKE concat('%', #{keyword}, '%')
			or content
			LIKE concat('%', #{keyword}, '%')
		</if>

		<if test='searchType.equals("writer")'>
			WHERE writer LIKE concat('%', #{keyword}, '%')
		</if>
	</select>
</mapper>